<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="tests/phpunit/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        printerClass="Test\PrettyPrinter"
        printerFile="tests/phpunit/PrettyPrinter.php"

>
    <testsuites>
        <testsuite name="unit">
            <directory prefix="test-" suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
<filter>
        <whitelist>
          <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>